*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	color: #505050;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.8;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: 100;
	color: #155d27;
}

#main {
	background-color: #fff;
	padding-top: 150px;
  min-height:500px;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 0 30px;
}

section {
	padding: 60px 0;
}

section h1 {
	font-weight: 700;
	margin-bottom: 10px;
}

section p {
	margin-bottom: 30px;
}

section p:last-child {
	margin-bottom: 0;
}

section.color {
	background-color: #f4f4f4;
}

header {
	width: 100%;
	height: 10em;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
  border-bottom:solid 0.5em #f4f4f4;
	background-color: #155d27;
}

header h1#logo {
	display: inline-block;
	line-height:3em;
   margin: 0;
   padding:0 1em;
   background-color:#208b3a;
	float: left;
	font-family: "Open Sans", sans-serif;
	font-size: 60px;
	color: #fcfcfc;
  text-shadow: 0.1em 0.03em #155d27;
	font-weight: 400;
}

header nav {
	display: inline-block;
	float: right;
}

header nav a {
	line-height: 150px;
	margin-left: 20px;
	color: #fcfcfc;
	font-weight: 300;
	font-size: 1em;
}

header nav a:hover {
	color: #fd5559;
}

header.smaller {
	height: 75px;
}

header.smaller h1#logo {
	line-height: 75px;
	font-size: 30px;
}

header.smaller nav a {
	line-height: 75px;
}


.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}

img{
	height: 320px;

img{
	height: 320px;
}

img{
	height: 320px;
}